
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#f5f5f5, #dcdcdc, rgba(220, 220, 220, 0.555));
    background-image: url('../images/login.jpg'); 
    background-size: cover;
    background-position: center;
  }
  
  .login-form-container {
    width: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.193);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(222, 221, 221, 0.1);
  }
  
  .login-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    margin-left: 10px;
  }
  
  .btn-secondary:hover {
    background-color: #545b62;
  }
  
  .login-info-text {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #555;
  }
  